body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

hr {
  color: white;
  z-index: 500;
}

#section1 {
  position: relative;
  height: auto;
  min-height: 300px;
  background-color: black;
  color: white;
  align-content: center;
}

p {
  position: relative;
  top: 10px;
}

.center-block {
  /* display: table;
  margin-left: auto;
  margin-right: auto; */
  text-align: center;
}

.pdfWrapper {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 60%;
  text-align: center;
  vertical-align: middle;
  height: auto;
}

.pdfWrapper:hover{
  transition: all .2s ease-in-out;
  transform:scale(1.2);
}
.pdfWrapper:hover .pdfWrapperInner:hover {
  top: 0;
  opacity: .9;
  transform: scale(1.2);
}

.pdfWrapperInner {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 300;
  top: 790px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background: rgba(32, 32, 32, 0.9);
  opacity: 0.5;
  vertical-align:middle;
  text-align:center;
}

#pdfIcon {
  border-radius: 10%;
  position: relative;
  color: maroon;
  background: black;
  padding: 20px;
  opacity: 0.8;
  bottom: 40%;
  vertical-align:middle;
  text-align:center;
}

#pdfIcon:hover {
  opacity: 1;
  /* -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); */

  animation-name: pulse_animation;
  animation-duration: 3000ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#resume {
  max-width: auto;
  height: auto;
}
/* #resume:hover {
  opacity: 1;
} */
#section2 {
  min-height: 600px;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  align-content: center;
  color: white;
  opacity: 0.9;
  background-image: url(../images/bg7.jpg);
  width: auto;
  background-attachment: fixed;
  background-color: black;
  top: 20%;
}

p {
  color: white;
  z-index: 500;
}
#section3 {
  background-position: center;
  height: auto;
  min-height: 500px;
  position: relative;
  top: 20%;
  width: auto;
  align-content: center;
  color: white;
  opacity: 1;
  text-align: center;
}

#section4 {
  /* margin-right: 200px;
  margin-left: 200px; */
  height: auto;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  align-content: center;
  background-image: url(../images/bg15.jpg);
  width: auto;
  background-attachment: fixed;
  top: 20%;
  opacity: 0.9;
  text-align:center;
  align-content: center;
}

#section5 {
  position: relative;
  top: 20%;
  height: auto;
  min-height: 500px;
  background-color: black;
}

#section6 {
  /* margin-right: 200px;
  margin-left: 200px; */
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  background-attachment: fixed;
  top: 100px;
  height: auto;
  min-height: 800px;
  background-image: url(../images/bg18.jpg);
  opacity: 0.9;
  align-content: center;
}

#container {
  /* background-color: black; */
  opacity: 0.9;
}

#d-block mb-4 h-100:hover {
  opacity: 0.5;
}

#gg {
  align-content: center;
  text-align: center;
  position: relative;
  left: 30%;
  top: 50%;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 1);
}

h1 {
  font-size: 60pt;
  position: relative;
}

/* h1:hover {
  opacity:.5;

} */

h1,
h2 {
  text-align: center;
  opacity: 0.9;
  width: auto;
  border-radius: 10px;
  color: white;
}

h3 {
  top: 30%;
  z-index: 100;
  color: white;
  text-align: left;
}

/* h3:hover {
  opacity: .5;
} */

h5 {
  font-size: 50px;
  color: white;
  text-align: center;
  right: 15px;
}

h4 {
  color: white;
}
#para {
  text-align: justify;
  color: white;
  opacity: 1;
  border-radius: 10px;
  z-index: 0;
  position: relative;
  top: 10%;
}

.desc {
  text-align: justify;
  right: 10px;
  font-size: 10pt;
}

.contact {
  color: white;
  font-size: 20px;
}

#skills {
  display: inline-block;
}

#img-fluid {
  width: 200;
  height: 200;
}
#img-fluid:hover {
  opacity: 0.5;
}

.icon {
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  /* box-shadow: 0 0 0 10px rgba(255, 255, 255, 1); */
  opacity: 0.5;
}
.icon:hover {
  opacity: 1;

  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

  /* opacity: 1;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5); */

  /* animation: spinAround .5s linear infinite;
        box-shadow: inset 0 0 0 25px white; */
}

/* .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: transparent;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
} */

.imgWrapper {
  padding: 10px;
  overflow: hidden;
  position: relative;
  align-content: center;
}
.imgWrapper:hover .imgWrapperInner:hover {
  top: 0px;
}

.imgWrapperInner {
  padding-right: 50px;
  padding: 30px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 300;
  top: 190px;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  background: rgba(32, 32, 32, 0.9);
  opacity: 0.8;
}

.img-thumbnail {
  z-index: 0;
  min-height: 270px;
  min-width: 360px;
}

.projectIcon {
  color: white;
  display: inline-block;
  text-align: center;
  z-index: 500;
  /* right: 5px; */
}

/* .container .btn:hover {
  background-color: #555;
  color: white;
} */

/* #jsIcon {
  box-shadow: 0 0 0 50px rgba (255, 255, 255, 1);
  border: 20px;

} */
/* 
#mongoIcon{
  box-shadow: 0 0 0 20px rgba (255, 255, 255, 1);
} */

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 30pt;
  }
  #gg {
    width: 100px;
    text-align:center;
    left: 40%;
  }

}
