body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  z-index: -1000;
}

#section2 {
  min-height: 500px;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  align-content: center;
  color: white;
  opacity: 0.9;
  background-image: url(../images/bg7.jpg);
  width: auto;
  background-attachment: fixed;
  background-color: black;
  top: 20%;
}

#section3 {
  background-position: center;
  height: auto;
  min-height: 500px;
  position: relative;
  top: 20%;
  width: auto;
  align-content: center;
}

#section4 {
  /* margin-right: 200px;
  margin-left: 200px; */
  height: auto;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  align-content: center;
  background-image: url(../images/bg15.jpg);
  width: auto;
  background-attachment: fixed;
  top: 20%;
  opacity: 0.9;
}

#section5 {
  position: relative;
  top: 20%;
  height: auto;
  min-height: 500px;
  background-color: black;
}

#section6 {
  /* margin-right: 200px;
  margin-left: 200px; */
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  background-attachment: fixed;
  top: 100px;
  height: auto;
  min-height: 800px;
  background-image: url(../images/bg18.jpg);
  opacity: 0.9;
  align-content: center;
}

#section1 {
  position: relative;
  height: auto;
  min-height: 500px;
  background-color: black;
  color: white;
  align-content: center;
  top: 50%;
}

#container {
  /* background-color: black; */
  opacity: 0.9;
}

/* #row{
  height: auto;
} */


#d-block mb-4 h-100:hover{
  opacity: 0.5;
}

h1 {
  font-size: 60pt;
  position: relative;
  top: 40%;
  height: 200px;
}

h2 {
  font-size: 60pt;
  position: relative;
  top: 50%;
}

h1,
h2 {
  text-align: center;
  background: black;
  opacity: 0.9;
  width: auto;
  border-radius: 10px;
  color: white;
}

h3 {
  top: 30%;
  z-index: 100;
  color: white;
}

h4 {
  color: white;
}
#para {
  color: white;
  background-color: black;
  opacity: 1;
  width: 50%;
  border-radius: 10px;
  z-index: 0;
}

#skills {
  display: inline-block;
}
.icon {
  width: 100px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
  opacity: 1;
}
.icon:hover {
  opacity: 0.5;
  animation: spinAround 2s linear infinite;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
